<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fonts.css">
    <title>تپسی سایت تاکسی آنلاین</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section class="travell container block">
        <div class="travel__slides">
            <div class="traveling__slide">
                <div class="travel__img">
                    <img src="assets/images/jungle.jpg" alt="">
                </div>
                <div class="travel__detail">
                    <div class="travel__header">
                        <span class="badge badge--primary">ویژه</span>
                        <p>اقامت رایگان &bull; سفر سه روزه</p>
                    </div>
                    <p class="travel__title">سفر به قلب جنگل</p>
                    <div class="travel__icons">
                        <div class="">
                          <i class="fas fa-heart"></i>
                          <span>56</span>
                          <i class="far fa-eye"></i>
                          <span>62</span>
                        </div>
                        <div>
                          <i class="far fa-edit"></i>
                          <i class="far fa-trash-alt"></i>
                        </div>
                      </div>
                </div>
            </div>
            <div class="travel__slides">
                <div class="traveling__slide">
                    <div class="travel__img">
                        <img src="assets/images/travell.png" alt="">
                    </div>
                    <div class="travel__detail">
                        <div class="travel__header">
                            <span class="badge badge--primary">ویژه</span>
                            <p>اقامت رایگان &bull; سفر سه روزه</p>
                        </div>
                        <p class="travel__title">سفر به قلب کویر</p>
                        <div class="travel__icons">
                            <div class="">
                              <i class="fas fa-heart"></i>
                              <span>28</span>
                              <i class="far fa-eye"></i>
                              <span>12</span>
                            </div>
                            <div>
                              <i class="far fa-edit"></i>
                              <i class="far fa-trash-alt"></i>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="travel__slides">
                <div class="traveling__slide">
                    <div class="travel__img">
                        <img src="assets/images/sea.jpg" alt="">
                    </div>
                    <div class="travel__detail">
                        <div class="travel__header">
                            <span class="badge badge--primary">ویژه</span>
                            <p>اقامت رایگان &bull; سفر سه روزه</p>
                        </div>
                        <p class="travel__title">سفر به قلب دریا و ساحل</p>
                        <div class="travel__icons">
                            <div class="">
                              <i class="fas fa-heart"></i>
                              <span>24</span>
                              <i class="far fa-eye"></i>
                              <span>36</span>
                            </div>
                            <div>
                              <i class="far fa-edit"></i>
                              <i class="far fa-trash-alt"></i>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>